﻿@using SuLugar.ViewModels.Patron
@model SuLugar.ViewModels.Patron.PatronIndexModel

@{
    ViewBag.Title = "Client Index";
}

<h3>Clientes Index</h3>
<div id="patronIndex">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp customTable" id="patronIndexTable">
        <thead>
            <tr>
                <th>Perfil</th>
                <th>Apelldio</th>
                <th>Nombre</th>
                <th>Library Card Id</th>
                <th>Overdue Fees</th>
                <th>Libreria</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patron in Model.Patrons)
            {
                <tr>
                    <td id="patronIcon"><a asp-controller="Patron" asp-action="Detail" asp-route-id="@patron.Id"><i class="fa fa-user fa-2x"></i></a></td>
                    <td>@patron.Lastname</td>
                    <td>@patron.Firstname</td>
                    <td>@patron.LibraryCardId</td>
                    <td>@patron.OverdueFees</td>
                    <td>@patron.HomeLibrary</td>
                </tr>
            }
        </tbody>
    </table>
</div>