﻿@{
    ViewData["Title"] = "Su Lugar Library";
}

<h3>@ViewData["title"]</h3>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" id="catalog">
                <h2 class="mdl-card__title-text homeLabel">Catalog</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Ver los items de libreria
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored" asp-controller="Catalog" asp-action="Index">
                    Ver Catálogo
                </a>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" id="patrons">
                <h2 class="mdl-card__title-text homeLabel">Clients</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Ver datos de clientes
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored" asp-controller="Patron" asp-action="Index">
                    VER CLIENTES
                </a>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" id="branches">
                <h2 class="mdl-card__title-text homeLabel">Branches</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Ver Su Lugar library branches
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored" asp-controller="Branch" asp-action="Index">
                    Ver branches
                </a>
            </div>
        </div>
    </div>
</div>
