﻿@{
    ViewData["Title"] = "Su Lugar Library";
}

<h3>@ViewData["title"]</h3>
<div>
    <h3>
        <a asp-controller="Account" asp-action="Register">Registrarse</a>
    </h3>
</div>
<div>
    <h3>
        <a asp-controller="Account" asp-action="Login">Login</a>
    </h3>
</div>
