﻿@model SuLugar.ViewModels.Catalog.AssetIndexModel

<div id="assets">
    <h3>Su Lugar Catálogo</h3>
    <div id="assetsTable">
        <table class="table table-condensed" id="catalogIndexTable">
            <thead>
                <tr>
                    <th>Imágen</th>
                    <th>Titulo</th>
                    <th>Autor / Director</th>
                    <th>Número</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var asset in Model.Assets)
                {
                <tr class="assetRow">
                    <td class="">
                        <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@asset.Id">
                            <img src="@asset.ImageUrl" class="imageCell" />
                        </a>
                    </td>
                    <td class="">@asset.Title</td>
                    <td class="">@asset.AuthorOrDirector</td>
                    <td class="">@asset.DeweyCallNumber</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>